<div id="user_stats">
	<%= @user.email %>
</div>
<h1><%= @user.full_name %></h1>
<div class="tab_bar">
	<ul>
		<% if @user == current_user %>
			<li><button id="my_trips_link" class="selected tab_button" onclick="showMyTrips()">My Trips</button></li>
		<% else %>
			<li><button id="my_trips_link" class="selected tab_button" onclick="showMyTrips()"><%= @user.first_name %>'s Trips</button></li>
		<% end %>
		<li><button id="past_trips_link" class="tab_button" onclick="showPastTrips()">Past Trips</button></li>
		<li><button id="bookmarked_trips_link" class="tab_button" onclick="showBookmarkedTrips()">Bookmarked</button></li>
	</ul>
</div>
<div id="main_display">
	<div id="create_trip_box" class="center">
		<% if @user == current_user %>
			<%= link_to "+ Create Trip", new_user_trip_path(@user), :id=>"create_trip_link" %>
		<% end %>
	</div>
	<div id="my_trips" class="thumbnail_display">
		<% @user.trips.where(:complete => false).each do |trip| %>
		<div class="thumbnail">
			<h3><%= link_to trip.name, user_trip_path(@user, trip) %></h3>
		</div>
		<% end %>
	</div>
	<div id="past_trips" class="thumbnail_display">
		<% @user.trips.where(:complete => true).each do |trip| %>
		<div class="thumbnail">
			<h3><%= link_to trip.name, user_trip_path(@user, trip) %></h3>
		</div>
		<% end %>
	</div>
	<div id="bookmarked_trips" class="thumbnail_display">
	</div>
</div>



