<div class="info-header">
	<h1><%=link_to @trip.name, user_trip_path(@user, @trip)%> &rarr; <%= @day.name %></h1>
	<div id="day-details">
		<div class="detail">
			<p class="detail-label">Date</p>
			<p class="detail-content"><%= @day.date ? @day.date.strftime('%B %d, %Y') : '-----' %></p>
		</div>
		<div class="detail-long">
			<p class="detail-label">Description</p>
			<p class="detail-content"><%= @day.description %></p>
		</div>
	</div>
	<div class="side">
		<% if @user == current_user %>
			<div class="controls-header">
				<%= link_to 'Edit Day', edit_user_trip_day_path(@user, @trip, @day) %>
				<%= link_to 'Delete Day', user_trip_day_path(@user, @trip, @day), :method => 'delete' %>
				<%= link_to new_user_trip_day_activity_path(@user, @trip, @day)  do %>
					<i class="icon-plus"></i>
					Activity
				<% end %>
			</div>
		<% end %>
	</div>
</div>
<div class="tab_bar">
	<ul>
		<li><button id="day_activities_link" class="tab_button selected" onclick="showDayActivities()">Activities</button></li>
		<li><button id="day_map_link" class="tab_button" onclick="showDayMap()">Map</button></li>
		<li><button id="day_calendar_link" class="tab_button" onclick="showDayCalendar()">Schedule</button></li>
	</ul>
</div>
<div id="day_activities">
	<% @day.activities.each do |activity| %>
		<div class="activity-display">
			<div class="activity-header">
				<%= link_to activity.name, user_trip_day_activity_path(@user, @trip, @day, activity), :class=>'activity-title' %>
				<p class="activity-date"><%= activity.date ? activity.date.strftime('%B %d, %Y') : '-----' %></p>
			</div>
			<div class="activity-details">
				<p class="detail-content"><%= activity.description %></p>
				<%= link_to activity.link, activity.link, :class=>'detail-link' %>
			</div>
		</div>
		<%= image_tag "thumbnail-shadow.png", :class => "long-shadow" %>
	<% end %>
</div>